<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Content" type="me.lucko.bytebin.content.Content"/>
        <typeAlias alias="ContentStorageMetric" type="me.lucko.bytebin.content.ContentStorageMetric"/>
        <typeAlias alias="UsageEvent" type="me.lucko.bytebin.usage.UsageEvent"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="me.lucko.bytebin.content.DateEpochMillisTypeHandler"/>
    </typeHandlers>

    <mappers>
        <mapper class="me.lucko.bytebin.dao.ContentMapper"/>
        <mapper class="me.lucko.bytebin.dao.UsageEventMapper"/>
    </mappers>
</configuration>
