<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.lucko.bytebin.usage.UsageEventMapper">

    <insert id="insert">
        INSERT INTO usage_events (event_type, timestamp, ip_address, user_agent, origin, host, referer,
                                  accept_language, content_key, http_method, content_type, content_length,
                                  content_encoding, response_code, has_api_key, has_custom_expiry,
                                  has_max_reads, has_allow_modification, is_forwarded)
        VALUES (#{eventType}, #{timestamp}, #{ipAddress}, #{userAgent}, #{origin}, #{host}, #{referer},
                #{acceptLanguage}, #{contentKey}, #{httpMethod}, #{contentType}, #{contentLength},
                #{contentEncoding}, #{responseCode}, #{hasApiKey}, #{hasCustomExpiry},
                #{hasMaxReads}, #{hasAllowModification}, #{forwarded})
    </insert>

    <insert id="insertBatch">
        INSERT INTO usage_events (event_type, timestamp, ip_address, user_agent, origin, host, referer,
                                  accept_language, content_key, http_method, content_type, content_length,
                                  content_encoding, response_code, has_api_key, has_custom_expiry,
                                  has_max_reads, has_allow_modification, is_forwarded)
        VALUES
        <foreach collection="collection" item="event" separator=",">
            (#{event.eventType}, #{event.timestamp}, #{event.ipAddress}, #{event.userAgent}, #{event.origin},
             #{event.host}, #{event.referer}, #{event.acceptLanguage}, #{event.contentKey}, #{event.httpMethod},
             #{event.contentType}, #{event.contentLength}, #{event.contentEncoding}, #{event.responseCode},
             #{event.hasApiKey}, #{event.hasCustomExpiry}, #{event.hasMaxReads}, #{event.hasAllowModification},
             #{event.forwarded})
        </foreach>
    </insert>

</mapper>
